# Backup files
*.orig
*.new

# Eclipse project files & directories
/.project
/.pydevproject
/.settings/

# Compiled Python bytecode
*.pyc

# Build output files & directories
/bin

# Debian dist files
/debian/changelog
/debian/debreate
/debian/debhelper-build-stamp
/debian/debreate.debhelper.log
/debian/debreate.substvars
/debian/files
/debian/postrm

# Distrubution archives
*.tar.*

# Doxygen documentation output
docs/doxygen
