# Backup files
*.orig
*.new

# Eclipse project files & directories
.project
.pydevproject
.settings/

# Netbeans project directory
nbproject/

# Compiled Python bytecode
*.pyc

# Compiled Gettext locales
#*.mo

# Build output files & directories
#Makefile
bin
build
INSTALLED

# Debian dist files
debian/changelog
debian/debreate
debian/debhelper-build-stamp
debian/debreate.debhelper.log
debian/debreate.substvars
debian/files
debian/*.debhelper

# Distrubution archives
*.tar.*

# Doxygen documentation output
docs/doxygen

# temporary test files
test.py
