Source: debreate
Section: Development
Priority: optional
Maintainer: Jordan Irwin <antumdeluge@gmail.com>
Build-Depends: debhelper (>=9), coreutils, make
Standards-Version: 3.9.6
Homepage: http://debreate.sourceforge.net/
X-Python-Version: >= 2.6

Package: debreate
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python2.7, python-wxgtk2.8
Suggests: 
Description: Debian package builder
 Debreate - Debian package builder
 .
 A utility to aid in packaging software and
 media for Debian based systems.
