[Desktop Entry]
Name=Debreate
Version=1.0
Exec=debreate %f
Comment=Build Debian packages
Icon=debreate
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Development;
MimeType=application/x-dbp;
#Comment[aa]=
#Comment[ab]=
#Comment[ace]=
#Comment[ach]=
#Comment[ae]=
Comment[af]=Bou 'n Debian pakket
#Comment[am]=
#Comment[an]=
Comment[ar]=إنشاء حزمة Debian
#Comment[as]=
#Comment[ast]=
#Comment[ay]=
Comment[az]=Debian paketi yaradin
#Comment[ba]=
Comment[be]=Стварыць пакет Debian
#Comment[be@latin]=
Comment[bg]=Изградете Debian пакет
#Comment[bh]=
#Comment[bi]=
Comment[bn]=একটি Debian প্যাকেজ নির্মাণ
#Comment[bo]=
#Comment[br]=
Comment[bs]=Napraviti Debian paket
#Comment[byn]=
Comment[ca]=Construir un paquet Debian
#Comment[ca@valencia]=
#Comment[ce]=
#Comment[ch]=
#Comment[chr]=
#Comment[co]=
#Comment[crh]=
Comment[cs]=Vytvoření balíčku pro Debian
#Comment[csb]=
#Comment[cu]=
#Comment[cv]=
Comment[cy]=Creu pecynnau Debian
Comment[da]=Byg en Debian-pakke
Comment[de]=Bauen Sie ein Debian-Paket
#Comment[dv]=
#Comment[dz]=
Comment[el]=Φτιάξτε ένα πακέτο Debian
#Comment[eo]=
Comment[es]=Construir paquetes de Debian
Comment[et]=Ehita Debian pakett
Comment[eu]=Sortu Debian pakete bat
Comment[fa]=بسازید بسته های دبیان
#Comment[ff]=
Comment[fi]=Rakenna Debian-paketti
Comment[fil]=Gumawa ng isang Debian pakete
#Comment[fj]=
#Comment[fo]=
Comment[fr]=Construire un paquet Debian
#Comment[fur]=
#Comment[fy]=
#Comment[ga]=
Comment[gd]=Tóg pacáistí Debian
#Comment[gez]=
Comment[gl]=Construir un paquete Debian
#Comment[gn]=
Comment[gu]=એક ડેબિયન પેકેજ ને બિલ્ડ
#Comment[gv]=
#Comment[ha]=
#Comment[haw]=
Comment[he]=לבנות חבילת דביאן
Comment[hi]=एक डेबियन पैकेज बनाएँ
#Comment[ho]=
Comment[hr]=Graditi Debian paketa
Comment[ht]=Konstwi yon pake Debian
Comment[hu]=Létrehoz egy Debian-csomag
Comment[hy]=Կառուցելու Debian փաթեթ
#Comment[hz]=
Comment[id]=Buat paket Debian
#Comment[ia]=
#Comment[id]=
#Comment[ie]=
#Comment[ig]=
#Comment[ii]=
#Comment[ik]=
#Comment[io]=
Comment[is]=Byggja Debian pakka
Comment[it]=Costruire un pacchetto Debian
#Comment[iu]=
Comment[ja]=Debian パッケージを構築します。
#Comment[jv]=
Comment[ka]=აშენების Debian პაკეტით
#Comment[ki]=
#Comment[kj]=
#Comment[kk]=
#Comment[kl]=
#Comment[km]=
Comment[kn]=ಡೇಬಿಯನ್ ಪ್ಯಾಕೇಜ್ ಬಿಲ್ಡ್
Comment[ko]=데비안 패키지를 작성
#Comment[kok]=
#Comment[ks]=
#Comment[ku]=
#Comment[kv]=
#Comment[kw]=
#Comment[ky]=
Comment[la]=Fac packages Debian
#Comment[lb]=
#Comment[lg]=
#Comment[li]=
#Comment[ln]=
#Comment[lo]=
Comment[lt]=Sudaryti Debian'o paketams
Comment[lv]=Izveidojiet Debian pakas
#Comment[mai]=
#Comment[mg]=
#Comment[mh]=
#Comment[mi]=
Comment[mk]=Изгради Debian пакети
#Comment[ml]=
Comment[mn]=
#Comment[mo]=
#Comment[mr]=
Comment[ms]=Bina pakej Debian
Comment[mt]=Tinbena pakketti Debian
#Comment[my]=
#Comment[na]=
Comment[nb]=Opprett Debian-pakker
#Comment[nd]=
#Comment[nds]=
#Comment[ne]=
#Comment[ng]=
Comment[nl]=Bouw een Debian-pakket
Comment[nn]=Opprett Debian-pakker
Comment[no]=Opprett Debian-pakker
#Comment[nr]=
#Comment[nso]=
#Comment[nv]=
#Comment[ny]=
#Comment[oc]=
#Comment[om]=
#Comment[or]=
#Comment[os]=
#Comment[pa]=
#Comment[pam]=
#Comment[pi]=
Comment[pl]=Zbuduj pakietów Debiana
#Comment[ps]=
Comment[pt]=Construir pacotes Debian
#Comment[qu]=
#Comment[rm]=
#Comment[rn]=
Comment[ro]=Construiţi pachetele Debian
Comment[ru]=Создать Debian пакетов
#Comment[rw]=
#Comment[sa]=
#Comment[sc]=
#Comment[sd]=
#Comment[se]=
#Comment[sg]=
#Comment[si]=
Comment[sk]=Zostavovať balíky Debianu
Comment[sl]=Sestavite Debian paketi
#Comment[sm]=
#Comment[sn]=
#Comment[so]=
Comment[sq]=Ndërtimi i një paketë Debian
Comment[sr]=Изгради Дебиан пакети
Comment[sr@latin]=
Comment[sr@Latn]=
#Comment[ss]=
#Comment[st]=
#Comment[su]=
Comment[sv]=Skapa paket för Debian
Comment[sw]=Jenga paket Debian
Comment[ta]=டெபியன் பொதிகள் கட்டமைக்கவும்
Comment[te]=Debian ప్యాకేజీలను నిర్మించటం
#Comment[tet]=
#Comment[tg]=
Comment[th]=สร้างแพคเกจเดเบียน
#Comment[ti]=
#Comment[tig]=
#Comment[tk]=
#Comment[tl]=
#Comment[tn]=
#Comment[to]=
Comment[tr]=Debian paketleri oluşturun
#Comment[ts]=
#Comment[tt]=
#Comment[tw]=
#Comment[ty]=
#Comment[ug]=
Comment[uk]=Створити Debian пакетів
Comment[ur]=Debian پیکجوں تخلیق کریں
#Comment[uz]=
#Comment[ve]=
Comment[vi]=Tạo gói Debian
#Comment[vo]=
#Comment[wa]=
#Comment[wal]=
#Comment[wo]=
#Comment[xh]=
#Comment[yi]=Debian מאַכן פּעקלעך פֿאַר
#Comment[yo]=
#Comment[za]=
Comment[zh]=构建一个Debian软件包
#Comment[zu]=ukudala isishuqulu Debian
