@font-face { font-family: "LiberationSerif"; src: url('res/font/LiberationSerif-Regular.ttf') format("truetype"); }

@font-face { font-family: "AlteHaasGrotesk"; src:url('res/font/AlteHaasGroteskRegular.ttf') format("truetype"); }

@font-face { font-family: "AlteHaasGroteskBold"; src:url('res/font/AlteHaasGroteskBold.ttf') format("truetype"); }

body { font-size:15pt; }
body.default { font-family:"LiberationSerif"; font-size:14pt; }
body.bg-fixed { background-attachment:fixed; background-repeat:repeat; background-image:url('res/decor/background.png'); }

.center { text-align:center; }

td.cell-link { color:white; font-weight:bold; text-align:center; width:110px; height:20px }
td.cell-link:hover { color:red }
.cell-pointer { cursor:pointer; }

.header { font-family:"LiberationSerif"; color:#ba7832; font-size:25pt; }

.terminal { font:10pt monospace; text-indent:20px; }

.standard-font { font-size:14pt; }

.small-font { font-size:11pt; }
